{% extends 'base.html' %}
{% block title %}interview scheduler{% endblock title %}
{% block home %}active{% endblock home %}
{% block body %}



      <div>
        <h1><span class="title">Interview</span>scheduler</h1>
        <form action="" method="post">
          <div class="row">
            <div class="container col-lg-5 col-11 my-5">
              {% csrf_token %}
              <div class="mb-3">
                <label for="" class="form-label">Interview Creater Name</label>
                <input type="text" class="form-control input" id="" aria-describedby="emailHelp" name="interviewerName" placeholder="interviewer Name">
              </div>
              <div class="mb-3">
                <label for="" class="form-label">Interview Creater Email</label>
                <input type="email" class="form-control input" id="" aria-describedby="emailHelp" name="interviewerEmail" placeholder="interviewer Email">
              </div>
              <div class="mb-3">
                <label for="" class="form-label">Interviewe Start Time</label>
                <input type="datetime-local" class="form-control input" id="" aria-describedby="emailHelp" name="intervieweStartTime">
              </div>
            </div>
            <div class="container col-lg-5 col-11 my-5">             
              <div class="mb-3">
                <label for="" class="form-label">Interviewee Name</label>
                <input type="text" class="form-control input" id="" aria-describedby="emailHelp" name="intervieweeName" placeholder="interviewee Name">
              </div>
              <div class="mb-3">
                <label for="" class="form-label">Interviewee Email</label>
                <input type="email" class="form-control input" id="" aria-describedby="emailHelp" name="intervieweeEmail" placeholder="interviewee Email">
              </div>
              <div class="mb-3">
                <label for="" class="form-label">Interviewe End Time</label>
                <input type="datetime-local" class="form-control input" id="" aria-describedby="emailHelp" name="intervieweEndTime" >
              </div>
            </div>
            <div class="col-10 mx-auto">
              <label for="" class="form-label">Add Interviewers</label> <br>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name="inlineCheckbox" value="Arpit">
                <label class="form-check-label" for="inlineCheckbox1">Arpit</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="inlineCheckbox2" name="inlineCheckbox" value="Ajay">
                <label class="form-check-label" for="inlineCheckbox2">Ajay</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="inlineCheckbox3" name="inlineCheckbox" value="Aman">
                <label class="form-check-label" for="inlineCheckbox3">Aman</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="inlineCheckbox4" name="inlineCheckbox" value="Astha">
                <label class="form-check-label" for="inlineCheckbox3">Astha</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="inlineCheckbox5" name="inlineCheckbox" value="Ankita">
                <label class="form-check-label" for="inlineCheckbox3">Ankita</label>
              </div>
            </div>
           <div class="col-4 mx-auto text-center">
            {% if user.is_authenticated %}
            <button type="submit" class="btn add text-dark"><b>schedule</b></button>
            {% else %}
            <button type="submit" class="btn disabled add text-dark"><b>schedule</b></button> <span style="color:#fff">Please Login to schedule a Interview...</span>...</span>
            {%endif%}
           </div>
          </div>
          </form>
      </div>
      
{% endblock body %}