{% extends 'base.html' %}
{% block body %}
{% block signup %}active{% endblock signup %}
<div class="container  col-lg-6 col-12 my-5">
  <h1><span class="title">Sign Up</span></h1>
    <form action="" method="POST">
        {% csrf_token %} 
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">username</label>
          <input type="text" class="form-control input" name="username" aria-describedby="emailHelp">
         
        </div>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">email</label>
          <input type="email" class="form-control input" name="email" aria-describedby="emailHelp">
         
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input type="password" class="form-control input" name="password">
        </div>
        
        <button type="submit" class="btn  add">Sign Up</button>
      </form>
</div>
{% endblock body %}