{% extends 'base.html' %}
{% block title %}All Tasks{% endblock title %}
{% block task %}active{% endblock task %}
{% block body %}
<style>
  th
  {
    color: black !important;
  }
</style>
      <div class="container col-lg-11 my-5">
        <h1><span class="title">Upcoming </span> Interviews</h1>
      <table class="table" id="myTable">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">candiidates</th>
                <th scope="col">Interviewee Name</th>
                <th scope="col">Interviewee Email</th>
                <th scope="col">Date</th>
                <th scope="col">StartTime</th>
                <th scope="col">EndTime</th>
                <th scope="col">edit/delete</th>
                
              </tr>
            </thead>
            <tbody>
                {% for task in allschedule  %}
              <tr>
                <th scope="row">{{forloop.counter}}</th>
                <td>{{task.allinterviewers}}</td>
                <td>{{task.intervieweeName}}</td>
                <td>{{task.intervieweeEmail}}</td>
                <td>{{task.interviewDate}}</td>
                <td>{{task.intervieweStartTime | slice:"11:"}}</td>
                <td>{{task.intervieweEndTime | slice:"11:"}}</td>
                <td> <a href="/edittask/{{task.id}}" class="btn btn-success">Edit</a>
                     <a href="/deletetask/{{task.id}}" class="btn btn-danger">delete</a>
                 </td>
     
              </tr>
              {% endfor %}
            </tbody>
          </table>
      </div>

 
{% endblock body %}